pandas>=2.0.0
numpy>=1.24.0
jupyter>=1.0.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.2.0
plotly>=5.13.0
ipywidgets>=8.0.0
pyyaml>=6.0.0
pytest>=7.3.0 
missingno>=0.5.0
pandas-gbq>=1.0.0
mpl_toolkits.basemap
google-cloud-bigquery 
holidays
google-cloud-aiplatform>=1.36.0
kfp>=2.5.0
